<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>MemberLoginProc</display-name>
    <servlet-name>MemberLoginProc</servlet-name>
    <servlet-class>control.MemberLoginProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginProc</servlet-name>
    <url-pattern>/MemberLoginProc</url-pattern>
  </servlet-mapping>
  <display-name>MVC_RentCarCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberLogoutProc</display-name>
    <servlet-name>MemberLogoutProc</servlet-name>
    <servlet-class>control.MemberLogoutProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogoutProc</servlet-name>
    <url-pattern>/MemberLogoutProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentListPro</display-name>
    <servlet-name>RentListPro</servlet-name>
    <servlet-class>control.RentListPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentListPro</servlet-name>
    <url-pattern>/RentListPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentInfo</display-name>
    <servlet-name>RentInfo</servlet-name>
    <servlet-class>control.RentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentInfo</servlet-name>
    <url-pattern>/RentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JangProc</display-name>
    <servlet-name>JangProc</servlet-name>
    <servlet-class>control.JangProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JangProc</servlet-name>
    <url-pattern>/JangProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentUpdate</display-name>
    <servlet-name>RentUpdate</servlet-name>
    <servlet-class>control.RentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentUpdate</servlet-name>
    <url-pattern>/RentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentDeleteJang</display-name>
    <servlet-name>RentDeleteJang</servlet-name>
    <servlet-class>control.RentDeleteJang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentDeleteJang</servlet-name>
    <url-pattern>/RentDeleteJang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListPro</display-name>
    <servlet-name>OrderListPro</servlet-name>
    <servlet-class>control.OrderListPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListPro</servlet-name>
    <url-pattern>/OrderListPro</url-pattern>
  </servlet-mapping>
</web-app>