<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>BoardListCon</display-name>
    <servlet-name>BoardListCon</servlet-name>
    <servlet-class>control.BoardListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListCon</servlet-name>
    <url-pattern>/BoardListCon</url-pattern>
  </servlet-mapping>
  <display-name>MVC_Board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardWriteProcCon</display-name>
    <servlet-name>BoardWriteProcCon</servlet-name>
    <servlet-class>control.BoardWriteProcCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteProcCon</servlet-name>
    <url-pattern>/BoardWriteProcCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInfoControl</display-name>
    <servlet-name>BoardInfoControl</servlet-name>
    <servlet-class>control.BoardInfoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInfoControl</servlet-name>
    <url-pattern>/BoardInfoControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReWriterCon</display-name>
    <servlet-name>BoardReWriterCon</servlet-name>
    <servlet-class>control.BoardReWriterCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReWriterCon</servlet-name>
    <url-pattern>/BoardReWriterCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReWriteProcCon</display-name>
    <servlet-name>BoardReWriteProcCon</servlet-name>
    <servlet-class>control.BoardReWriteProcCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReWriteProcCon</servlet-name>
    <url-pattern>/BoardReWriteProcCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateCon</display-name>
    <servlet-name>BoardUpdateCon</servlet-name>
    <servlet-class>control.BoardUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateCon</servlet-name>
    <url-pattern>/BoardUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateProcCon</display-name>
    <servlet-name>BoardUpdateProcCon</servlet-name>
    <servlet-class>control.BoardUpdateProcCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateProcCon</servlet-name>
    <url-pattern>/BoardUpdateProcCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteCon</display-name>
    <servlet-name>BoardDeleteCon</servlet-name>
    <servlet-class>control.BoardDeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteCon</servlet-name>
    <url-pattern>/BoardDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteProcCon</display-name>
    <servlet-name>BoardDeleteProcCon</servlet-name>
    <servlet-class>control.BoardDeleteProcCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteProcCon</servlet-name>
    <url-pattern>/BoardDeleteProcCon</url-pattern>
  </servlet-mapping>
</web-app>